---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import
        "_theme-black.scss"
;

.newcontainer {
  float: left;
  padding: 2px 5px;
  position: relative;
  text-align: center;
  color: white; }

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px; }

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px; }

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px; }

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px; }

/* Centered text */
.centered {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%); }
